.AndroidRemoteControl_widget .widget-name .cmd {
	margin-top: 3px !important;
	padding: 0px 4px;
}

.AndroidRemoteControl_widget .widget-name .cmd i {
	font-size: 12px !important;
}

.AndroidRemoteControl_widget .panelBox {
	position: relative;
	height: inherit;
	overflow: auto;
	padding: 5px 10px;
}


.AndroidRemoteControl_widget a.nav-item.nav-link {
	border: black solid 1px !important;
	padding: 5px 3px 1px 3px;
	margin: 1px;
	display: inline-block;
	width: 45px;
	text-align: center;
	font-weight: 600;
	height: 45px;
	max-height: 45px;
}


.AndroidRemoteControl_widget a.nav-item.nav-link img{
	max-height: 25px;
	max-width: 25px;
}

.AndroidRemoteControl_widget .nav>li>a {
	padding: 10px 5px;
}

.AndroidRemoteControl_widget .nav-pills>li.active>a, .nav-pills>li.active>a:focus, .nav-pills>li.active>a:hover {
	color: #fff !important;
}

.AndroidRemoteControl_widget nav.nav.nav-tabs {
	height: 50px;
	padding: 0px 8px;
}

.AndroidRemoteControl_widget .nav-item span {
	display: block;
	font-size: 8px;
}
.AndroidRemoteControl_widget .nav-item i {
	font-size: 1.5em;
}
.AndroidRemoteControl_widget .displayoff .tab-content {
	height: 210px;
}

.AndroidRemoteControl_widget .panelMusic {
	text-align: center;
}

.AndroidRemoteControl_widget .tooltipstered, .tooltipstered img {
	width: 30px;
}

.AndroidRemoteControl_widget .playlist .pochette {
	height: 170px;
	margin: 5px;
	/*border-radius: 10%;*/
}

.AndroidRemoteControl_widget .displayoff .panelMusic img.pochette {
	height: 40px;
	float: left;
}


.AndroidRemoteControl_widget .displayoff .go-playlist {
	float: left;
	width: 200px;
	max-height: 45px;
	height: 45px;
	border: black solid 1px !important;
	padding: 2px;
	margin: 1px;
}

.AndroidRemoteControl_widget a.nav-item.nav-link.btn.active i,.AndroidRemoteControl_widget a.nav-item.nav-link.btn.active span {
	color: darkslateblue;
}